{% load static  %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Covid-19 Dashboard</title>

    <!-- Online CDNs-->
    <!-- <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxy/1.6.1/scripts/jquery.ajaxy.min.js" integrity="sha256-jfr3oM7h2TWPi2Q0O0vPuRh+pc0eSfWfpZ2nHXt8tFQ=" crossorigin="anonymous"></script> -->

    <script src = "{% static 'cdn_files/jquery-3.1.0.min.js' %}" > </script>
    <script src = "{% static 'cdn_files/semantic-2.4.1.min.js' %}" > </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />
    <!-- <script src = "{% static 'cdn_files/semantic-2.4.1.min.css' %}" > </script> -->

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" integrity="sha256-JtQPj/3xub8oapVMaIijPNoM0DHoAtgh/gwFYuN5rik=" crossorigin="anonymous"/> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-animateNumber/0.0.14/jquery.animateNumber.js"/> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-animateNumber/0.0.14/jquery.animateNumber.min.js" integrity="sha256-GCAeRKCXFEtLTZ+gG1SCIrtGkYq1zZjMXkj+XUFNJqo=" crossorigin="anonymous"></script>
    <!-- <script src="https://unpkg.com/jam-icons/js/jam.min.js"></script> -->
    <link rel="stylesheet" href="https://unpkg.com/jam-icons/css/jam.min.css">

    {% block head%} -->
    {% endblock%}
  </head>
  <body>
    <div class = "container">
      {% include 'navbar.html' %}

      {% block content%}
      {% endblock%}

      {% include 'footbar.html' %}
    </div>
  </body>
</html>
