{% load static  %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Covid-19 Dashboard</title>

    <script src = "{% static 'cdn_files/jquery-3.1.0.min.js' %}" > </script>
    <script src = "{% static 'cdn_files/semantic-2.4.1.min.js' %}" > </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />
    <!-- <script src = "{% static 'cdn_files/semantic-2.4.1.min.css' %}" > </script> -->

    <!-- <script src="{% static 'cdn_files/jam.min.js' %}"></script> -->
    <link rel="stylesheet" href="{% static 'cdn_files/jam.min.css' %}">
    <script src="{% static 'cdn_files/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'cdn_files/chartjs-plugin-datalabels.min.js' %}"></script>

    {% block head%} -->
    {% endblock%}
  </head>
  <body>
    <div class = "container">
      {% include 'navbar.html' %}

      {% block content%}
      {% endblock%}

      {% include 'footbar.html' %}
    </div>
  </body>
</html>
