{% extends 'base.html' %}
  {% load static  %}

  {% block head %}
    <script>
      var data_url = "{% url 'data_ajax' %}";
    </script>
    <script src="{% static 'js/home.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.semanticui.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.semanticui.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.7/css/fixedHeader.dataTables.min.css">
  {% endblock %}

  {% block content %}
    <div id = "home_body" >
      <div class="ui card content_div">
        <div class="card">
          <div class="content">
            <div class="ui two column centered grid">
              <div id="top" class="six column row centered">
                <div class="column"><h1>World</h1></div>
              </div>
              <div id="bottom" class="five column centered row">
                <div class="column counts ui card"><b>Confirmed</b>
                  <div class="two row">
                    <div id="Confirmed" class="column"> 0 </div>
                    <span id="NewConfirmed" class="jam jam-arrow-circle-up column"> 0 </span>
                  </div>
                </div>
                <div class="column counts ui card"><b>Active</b>
                  <div class="two row">
                    <div id="Active" class="column"> 0 </div>
                    <span class="jam jam-arrow-circle-up column" id="NewActive"> 0 </span>
                  </div>
                </div>
                <div class="column counts ui card"><b>Recovered</b>
                  <div class="two row">
                    <div id="Recovered" class="column"> 0 </div>
                    <span id="NewRecovered" class="jam jam-arrow-circle-up column"> 0 </span>
                  </div>
                </div>
                <div class="column counts ui card"><b>Deaths</b>
                  <div class="two row">
                    <div id="Deaths" class="column"> 0 </div>
                    <span id="NewDeaths" class="jam jam-arrow-circle-up column"> 0 </span>
                  </div>
                </div>
                <div class="ui right aligned grid">
                  <div class="sixteen wide column" id="last_updated">
                    <h4>*Last Updated: <span></span> </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br/>
      <div class="ui card content_div">
        <div class="card">
          <div class="content">
            <br/>
            <canvas id="myChart"></canvas>
            <br/>
          </div>
        </div>
      </div>
      <br/>
    <!-- <div id="countries_div"> -->

    <div class="ui card content_div">
      <div class="card">
        <div class="content table_data">
          <table class="ui celled table" id="countries"></table>
          </div>
      </div>
    </div>
    <br/>
    </div>


  {% endblock %}
