<!-- <div class="ui fixed inverted menu" id="navbar">  for fixed header-->
<div class="ui inverted menu" id="navbar">
  <div class="ui container">
    <a href="#" class="header item">
      <!-- <img class="logo" src="assets/images/logo.png">
      Project Name
    </a> -->
    <a href="{% url 'Dashboard' %}" class="item">Home</a>
    <div class="ui simple dropdown item">
      Visualization
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="{% url 'trend_heatmap' %}">Choropleth map</a>
        <a class="item" href="#">Link Item</a>
        <div class="divider"></div>
        <div class="header">Header Item</div>
        <div class="item">
          <i class="dropdown icon"></i>
          Sub Menu
          <div class="menu">
            <a class="item" href="#">Link Item</a>
            <a class="item" href="#">Link Item</a>
          </div>
        </div>
        <a class="item" href="#">Link Item</a>
      </div>
    </div>
  </div>
</div>
