{% extends 'base.html' %}
  {% load static  %}

  {% block head %}
    <script>
      var data_url = "{% url 'data_ajax' %}";
      // var json_file = "{% static 'misc/countries.geo.json' %}";
    </script>
    <script src="{% static 'js/trend_heatmap.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
    <script src="{% static 'cdn_files/leaflet.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'cdn_files/leaflet.css' %}"/>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.6.0/leaflet.js" integrity="sha256-fNoRrwkP2GuYPbNSJmMJOCyfRB2DhPQe0rGTgzRsyso=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.6.0/leaflet.css" /> -->
    <script src="{% static 'cdn_files/amcharts/amcharts4/core.js' %}"></script>
    <script src="{% static 'cdn_files/amcharts/amcharts4/maps.js' %}"></script>
    <script src="{% static 'cdn_files/amcharts/amcharts4/themes/animated.js' %}"></script>
    <script src="{% static 'cdn_files/amcharts/geodata/worldLow.js' %}"></script>
    <style media="screen">
      #chartdiv {
        width: 100%;
        height: 98vh;
      }
    </style>


  {% endblock %}

  {% block content %}
    <div id = "home_body" >
      <div class="ui card content_div">
        <div class="card">
          <div class="content">
            <!-- <div id="mapid" style="height:500px;"></div> -->
            <div id="chartdiv"></div>
          </div>
        </div>
      </div>
      <br/>

      <div class="ui card content_div">
        <div class="card">
          <div class="content">
            <br/>
            <!-- <canvas id="myChart"></canvas> -->
            <br/>
          </div>
        </div>
      </div>
      <br/>
    <!-- <div id="countries_div"> -->

    <div class="ui card content_div">
      <div class="card">
        <div class="content table_data">
          <table class="ui celled table" id="countries"></table>
          </div>
      </div>
    </div>
    <br/>
    </div>


  {% endblock %}
